/*Колір основного шрифту #2E2F42
Колір основного фону  #ffffff
додатковий фон та літери #2E2F42

    */

:root {
    --base-color-text: #2E2F42;
    --maine-color-background: #ffffff;
    --color-style-logo: #4D5AE5;
    --color-decoration-text: #434455;
    --border-color: #E7E9FC;
    --additional-background-color: #F4F4FD;
    --active-color-button: #404BBF;
    --color-thumb:  #F4F4FD;
    --color-hover-social: #31D0AA;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--base-color-text);
    background-color: var(--maine-color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin-top: 0;
 margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*_________Header____________*/

.page-header {
    background: var(--maine-color-background);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-nav, .container-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--base-color-text);
}

.logo-web {
    color: var(--color-style-logo);
}

.list {
    list-style: none;
}

.site-nav {
    display: flex;
    margin-left: 77px;
}

.site-nav .item + .item {
    margin-left: 40px;
}

.nav-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms var(--timing-function);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--base-color-text);
}

.current {
    color: var(--active-color-button);
}

.nav-link.current::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 2px;
    background-color: var(--active-color-button);
}


.nav-link:hover, .nav-link:focus,
.nav-link:active, .contact:hover,
.contact:focus, .contact:active {
    color: var(--color-style-logo);
}


.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 40px;
}

.contact {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-decoration-text);

    transition: color 250ms var(--timing-function);
}


/*__________Hero section_________*/

.hero-section {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 192px;
    padding-bottom: 192px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 48px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: var(--maine-color-background);
}

.hero-button {
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    padding: 16px 34px;
    min-width: 170px;
    
    background-color: var(--color-style-logo);
    color: var(--maine-color-background);
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
}

.hero-button:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:active {
    background: var(--color-style-logo);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ____________Benefits section__________*/


.benefits-heading, .examples-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.benefits {
    display: flex;
    gap: 24px;
}

.benefits .item {
    margin-right: 0;
    flex-basis: calc(100% / 3 - 24px);
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    background-color: var(--color-thumb);
    padding: 0;
    border-radius: 4px;
}

.benefit-subtitle, .resume-name {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--base-color-text);
}

.benefit-details, .resume-specialty {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-decoration-text);
}

/*____________Illustrations section__________*/

.illustrations {
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
}

.illustrations-title, .resumes-title,
.customers-title {
    margin-top: 0;
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--base-color-text);
}

.illustration {
    display: flex;
    gap: 24px;
}


/*_________Resumes section___________*/

.resumes {
    background-color: var(--additional-background-color);
}

.resumes-list {
    display: flex;
    gap: 24px;
 }

.container-resume {
    display: block;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--maine-color-background);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-style-logo);
    border-radius: 50%;
}

/*_____Customers section_____*/

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;

    transition: border fill 250ms var(--timing-function);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #4D5AE5;
    fill: var(--color-style-logo);
}

/*______Footer section______*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--base-color-text);
}

.footer-container {
    display: flex;
    gap: 120px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--additional-background-color);
}

.footer-logo-web {
    color: var(--color-style-logo);
}

.footer-text {
    width: 264px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--border-color);
}

.social-media {
    margin-bottom: 16px;
    color: var(--maine-color-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-media-item, .social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: var(--color-hover-social);
    border-radius: 50%;
}

.social-media-list {
    display: flex;
    gap: 16px;
}

/* Portfolio page: Section row */

.examples-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.examples-list > .examples-item {
    margin-right: 0;
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.examples-link {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.examples-link:hover,
.examples-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-button {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--additional-background-color);
    color: var(--color-style-logo);
    cursor: pointer;
}

.examples-button:hover, .examples-button:focus {
    background-color: var(--color-style-logo);
    color:var(--maine-color-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

/*_______Section samples________ */


.examples-link {
    text-decoration: none;
}

.container-example {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 0.5px solid #F4F4FD;
    border-right: 0.5px solid #F4F4FD;
    border-bottom: 0.5px solid #F4F4FD;
}

.examples-subtitle {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--base-color-text);
}

.examples-filter {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-decoration-text);
}

/*#modal ---------- Modal ----------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(3px);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    height: 576px;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FCFCFC;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;


    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
    background-color: var(--border-color);
}

.close-modal {
    width: 100%;
    height: 100%;
}
/*  */